.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container div {
  background-color: red;
}

.navigation {
  background-image: url("./images/learn.jpg");
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.navigation a {
  margin-bottom: 15px;
}

.buttons button {
  padding: 5px;
  border-radius: 5px;
  background: white;
  border-color: black;
  margin-right: 10px;
}

.buttons {
  margin-bottom: 20px;
}

div.tile-container {
  padding: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-gap: 5px;
}

.tile {
  border-style: solid;
  border-color: black;
  background: linear-gradient(to right, #C19A6B, transparent 95%);
  width: 60px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 9px;
}

#display-current-word span, .column-header, .app-title {
  font-weight: bold;
  text-decoration: underline;
}

#current-word {
  text-transform: uppercase;
  height: 22px;
}

.guessed-words {
  text-transform: uppercase;
}

.submitted-words {
  display: flex;
  justify-content: center;
}

.submitted-words span {
  font-weight: bold;
  text-decoration: underline;
}

.submitted-words div {
  padding-right: 20px;
}

.warning {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

#final-score {
  font-weight: bold
}

#trainer {
  display: flex;
  flex-direction: row;
}

